html{
    scroll-behavior: smooth;
}










.card a {
    text-decoration: none;
}


#project {
    background: var(--darker-color);
    margin-top: 100px;

    
}

#project h2 {
    font-size: 6vw;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 50PX;
}

.project_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
   
    padding: 20px;
}

.grid_item {
    display: grid;
    place-items: center;
}

.card {
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    
}

.card:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
    box-shadow: 0px 20px 30px rgba(118, 85, 225, 0.322);
}

.card:hover img {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}

.card:hover .card_content {
    background: white;
    color: var(--dark-color);
    transform: translateY(0px);
}

.card_content {
    padding: 2rem;
    position: relative;
    top: -6.5rem;
    margin-bottom: -6.5rem;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
}

.card_content h3 {
    text-align: center;
    color: black;
    text-decoration: none;
    border: none;

}
#about a {
        border: 1px solid #7f53ac;
        border-radius: 4px;
        padding: 10px 30px;
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.3px;
        transition: all 0.8s ease-in-out;
        background-color: #9921e8;
        background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
      }
      a:hover {
        background-color: #7f5a83;
        background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
        border: #0d324d;   
      }
