
body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

/* Reset some default styles */
body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Apply a box-sizing border-box model to all elements */
* {
    box-sizing: border-box;
}




/* Style the logo */
.logo {
    font-size: 1.5em;
    font-weight: bolder;
    letter-spacing: -2px;

}

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: red;

    /* Create the gradient. */
    background-image: linear-gradient(45deg, #7083fd, #6c25fa);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: bolder;
}









.body {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.body img {

    vertical-align: middle;
    max-width: 28rem;
}

.body .right {
   margin-top: 30px;
}

.primary_btn {
    color: #fff;
    letter-spacing: 0px;
    font-family: "Rubik", sans-serif;
    font-weight: bolder;
    font-size: 14px;
    line-height: 46px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    border: none;
    width: 150px;
    display: inline-block;

    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);

}

.primary_btn:hover {
    background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%), radial-gradient(circle at top left, #ffffff, #ffffff);
    border: 2px solid #854fee;
    color: black;
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
    box-shadow: none;

}


.prim_btn {
    margin-left: 20px;
    letter-spacing: 0px;
    font-family: "Rubik", sans-serif;
    font-weight: bolder;
    font-size: 14px;
    line-height: 46px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-image: linear-gradient(to right, #ffffff 0%, #ffffff 100%), radial-gradient(circle at top left, #ffffff, #ffffff);
    border: 2px solid #854fee;
    color: black;
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
    box-shadow: none;
    width: 150px;
    display: inline-block;
}

.prim_btn:hover {
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    border: none;
    color: white;
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);

}


.intro .first {
    margin-top: 10px;
    font-size: 70px;


    font-weight: bold;
    text-transform: uppercase;
}

.intro .second {
    font-size: 24px;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;

}

.body .left .btn {
    margin-top: 30px;
}

.body .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
margin-left: 10px;

}

.hlo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hlo .first {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;

}

.hlo .second {
    background-color: black;
    height: 2px;
    max-width: 300px;
}
@media(max-width:770px){
    .body{
        margin-top: 150px;
    }
}
@media (max-width: 470px) {
    .intro .first {
        font-size: 60px;
        /* Adjust as needed */
    }

    .intro .second {
        font-size: 20px;
        /* Adjust as needed */
    }

    .intro .first {
        font-size: 50px;
    }

    .intro .second {
        font-size: 18px;
    }

    .primary_btn,
    .prim_btn {
        width: 100px;
        /* Adjust the button width as needed */
        font-size: 10px;
        /* Adjust the button font size as needed */
    }

    .body img {

        max-width: 25rem;
    }

    .hlo .first {
        font-size: 30px;


    }

}














.card a {
    text-decoration: none;
}


#project {
    background: var(--darker-color);

    
}

#project h2 {
    font-size: 5rem;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 50PX;
}

.project_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
   
    padding: 20px;
}

.grid_item {
    display: grid;
    place-items: center;
}

.card {
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    
}

.card:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
    box-shadow: 0px 20px 30px rgba(118, 85, 225, 0.322);
}

.card:hover img {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}

.card:hover .card_content {
    background: white;
    color: var(--dark-color);
    transform: translateY(0px);
}

.card_content {
    padding: 2rem;
    position: relative;
    top: -6.5rem;
    margin-bottom: -6.5rem;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
}

.card_content h3 {
    text-align: center;
    color: black;
    text-decoration: none;
    border: none;

}


.about {
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
    justify-content: center;
    gap: 150px;

}

.about .left img {
    width: 28em;
}

.about .right {

    width: 28em;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.about .right .first {

    font-size: 36px;
    font-weight: bolder;

    line-height: 50px;
    text-transform: uppercase;
}

.about .right .second {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.719);
    line-height: 30px;
    text-align: justify;
}

.about .right .third {
    margin-top: 15px;
}

@media (max-width:1150px){
    .about .left img{
        display:none;
    }
    .about{
        margin-top: 0px;
    }
    
}

/* Media Queries */
@media (max-width: 768px) {
    .about .right {
        max-width: 100%; /* Adjusted max-width for responsiveness */
    }

    .about .right .first {
        font-size: 6vw;
        line-height: 8vw;
    }

    .about .right .second {
        font-size: 2vw;
        line-height: 4vw;
    }

    .about .right .third {
        margin-top: 2vw;
    }
}

@media (max-width: 480px) {
    .about .left img,
    .about .right {
        max-width: 100%; /* Adjusted max-width for responsiveness */
    }

    .about .right .first {
        font-size: 8vw;
        line-height: 10vw;
    }

    .about .right .second {
        font-size: 3vw;
        line-height: 5vw;
    }

    .about .right .third {
        margin-top: 3vw;
    }
}
.footer {
    width: 100%;
    background-color: #ffffff;
}

.footer .logo img {

    width: 40px;
}




/* General Styles */
.services {
    margin-top: 10vw;
}

.services h2 {
    text-align: center;
    font-size: 6vw;
    font-weight: 200;
    text-transform: uppercase;
}

.services h3 {
    margin-top: 1.5vw;
    font-size: 1.5vw;
    font-weight: bolder;
    text-transform: uppercase;
}

.services p {
    color: rgb(100, 99, 99);
}
/* Grid Styles */
.grid-box {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5vw;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
margin: 0 20px;
}

.grid-box .item {
    flex: 1; /* Add this line to distribute space evenly */
    min-width: 200px;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 4vw;
    background-color: #ffffff7a;
    box-shadow: 0px 1vw 2vw rgba(118, 85, 225, 0.322);
}

/* Hover Effect */
.grid-box .item:hover {
    border: none;
    transition: 0.5s ease-in-out;
}

/* Media Queries */
@media (max-width: 768px) {
    .services{
        margin-top:15vw;
    }
    .services h2 {
        font-size: 8vw;
    }

    .services h3 {
        font-size: 2vw;
    }

    .grid-box .item {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .services{
        margin-top: 18vw;
    }
    .grid-box .item {
        width: 80%;
    }
}
